.badge {
  margin: 0;
  margin-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
  color: $base-primary;
  font-family: $primary-font-bold;
  line-height: 16px;
  letter-spacing: 0.48px;
}
