.production__title {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.production__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.production__item:not(:last-child) {
  margin-bottom: 20px;
}

.production__subtitle {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 23px;
  white-space: normal;
  cursor: pointer;
}

.production__subtitle:has(.production__input:disabled) {
  cursor: default;
  opacity: 0.25;
}

.production__input {
  position: relative;
  appearance: none;
  margin: 0;
  margin-right: 10px;
  width: 42px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 12px;
  background-color: $base-grey;
  border: 2px solid $base-grey;
  transition: transform 0.3s ease-in-out;
}

.production__input::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  background-color: $base-white;
}

.production__input:checked {
  background-color: $base-primary;
  border: 2px solid $base-primary;
}

.production__input:checked::before {
  left: 18px;
}

.production__input:hover,
.production__input:focus {
  background-color: $primary-lighter-opacity;
}

.production__input:focus-visible {
  outline: none;
}

@supports not (selector(:focus-visible)) {
  .production__input:focus {
    outline: none;
  }
}

.production__input:disabled {
  background-color: $light-grey-color;
  border-color: $light-grey-color;
}

.production__input:disabled::before {
  background-color: $base-white;
}

.production__input:checked:disabled {
  background-color: $light-grey-color;
  border-color: $light-grey-color;
}

.production__input:checked:disabled::before {
  background-color: $base-grey;
}
