.select {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 165px;
  align-items: center;
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}

.select__subtitle {
  padding-left: 3px;
  margin: 0;
  margin-right: 3px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    padding-right: 1px;
  }
}

.select__subtitle.title-legeng {
  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.select__control {
  position: relative;
  appearance: none;
  padding: 4px;
  padding-left: 13px;
  border: none;
  border-radius: 4px;
  font-family: $primary-font-semibold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: $base-primary;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.select__control:hover,
.select__control:focus {
  background-color: $base-secondary;
  outline: none;
}

.select__arrow {
  position: absolute;
  content: "";
  top: 10px;
  right: 7px;
  width: 10px;
  height: 10px;
  background-image: url("../../icons/stack.svg#arrow-select");
  transform: rotate(-90deg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  @media (min-width: $tablet-width) {
    right: 11px;
  }
}

.select.active .select__arrow {
  transform: rotate(90deg);
}
