.slider {
  position: relative;
  overflow: hidden;
}

.slider::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .slider::before {
    height: 640px;
  }
}

@media (min-width: $desktop-width) {
  .slider::before {
    height: 100%;
  }
}

.slider--color1::before {
  background-color: $background-flat-white;
}

.slider--color2::before {
  background-color: $background-lavender;
}

.slider--color3::before {
  background-color: $background-espresso;
}

.slider__button {
  position: absolute;
  top: 0;
  width: 20px;
  height: 656px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.slider__button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $base-primary;

  @media (min-width: $tablet-width) {
    left: 30px;
  }
}

.slider__button:hover,
.slider__button:focus {
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__button:focus-visible {
  outline: none;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

@supports not (selector(:focus-visible)) {
  .slider__button:focus {
    outline: none;
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.slider__button:active {
  background:
    linear-gradient(
      90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
}

.slider__button:disabled {
  background: transparent;
  cursor: default;
}

.slider__button:disabled::before {
  background-color: $base-grey;
}

.slider__button--next {
  right: 0;
  transform: rotate(180deg);
}

.slider__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
  }
}

.slider__pagination-button {
  @media (min-width: $desktop-width) {
    position: relative;
    width: 62px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

.slider__pagination-button::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 62px;
  height: 4px;
  background-color: $base-white;
}

.slider__pagination-button--current::after {
  @media (min-width: $desktop-width) {
    background-color: $base-primary;
  }
}

.slider__pagination-button:hover::after,
.slider__pagination-button:focus::after {
  background-color: $base-primary;
  opacity: 0.25;
}

.slider__pagination-button:focus-visible::after {
  background-color: $base-primary;
  opacity: 0.25;
}

@supports not (selector(:focus-visible)) {
  .slider__pagination-button:focus::after {
    background-color: $base-primary;
    opacity: 0.25;
  }
}

.slider__pagination-button:focus-visible {
  outline: none;
}

@supports not (selector(:focus-visible)) {
  .slider__pagination-button:focus {
    outline: none;
  }
}

.slider__button--prev {
  left: 0;
}

.slider__list {
  position: relative;
  height: 656px;
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 828px;
    padding: 0 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 714px;
  }
}

.slider__item {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 30px;
    padding-left: 25px;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.slider__container {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 150px;
    max-width: 625px;
    padding-left: 30px;
  }
}

.slider__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: $primary-font-bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.72px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
    letter-spacing: 1.12px;
  }
}

.slider__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 40px;
  }
}

.slider__wrapper {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.slider__old-price {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  margin-right: 3px;
}

.slider__new-price {
  font-family: $primary-font-semibold;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 16px;
}

.slider__order {
  padding: 10px 21px 6px 20px;
}
